// Import Google fonts

// Define fonts for body and headers
$body-font: "Benton Sans", "sans-serif";
$headers-font: "Benton Sans Medium", "sans-serif";
$body-medium: "Benton Sans Medium";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Benton Sans";
  src: font-url('benton-sans-regular.eot');
  src: font-url('benton-sans-regular.eot?#iefix') format('embedded-opentype'),
       font-url('benton-sans-regular.woff') format('woff'),
       font-url('benton-sans-regular.ttf') format('truetype')
}

@font-face {
  font-family: "Benton Sans Bold";
  src: font-url('BentonSans-Bold.eot');
  src: font-url('BentonSans-Bold.eot') format('embedded-opentype'),
       font-url('BentonSans-Bold.eot') format('woff'),
       font-url('BentonSans-Bold.eot') format('truetype')
}

@font-face {
  font-family: "Benton Sans Medium";
  src: font-url('BentonSans-Medium.eot');
  src: font-url('BentonSans-Medium.eot?#iefix') format('embedded-opentype'),
       font-url('BentonSans-Medium.woff') format('woff'),
       font-url('BentonSans-Medium.ttf') format('truetype')
}

@font-face {
  font-family: "Proxima Nova";
  src: font-url('ProximaNova-Regular.eot');
  src: font-url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('ProximaNova-Regular.woff') format('woff'),
       font-url('ProximaNova-Regular.ttf') format('truetype')
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: font-url('ProximaNova-Bold.eot');
  src: font-url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
       font-url('ProximaNova-Bold.woff') format('woff'),
       font-url('ProximaNova-Bold.ttf') format('truetype')
}



// $my-font: "Benton Sans";
