@media only screen and (max-width:800px) {
  .home-header {
    padding: 16px 40px !important;
    ul {
      display: block !important;
      li{
        margin: 10px 0px !important;
      }
    }
  }

  .bio {
    h1 {
      font-size: 32px !important;
      margin: 6px 0 9px 0 !important;
    }
    p {
      width: 350px !important;
      font-size: 18px !important;
    }
  }
}
