html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  --bg: #fff;
  --outline: #fff;
  --button: #D9BAF1;
  --color-text: #0D152E;
  --photo-text: #251E1E;
  --check: #fff;
  --gradient: linear-gradient(180deg, rgba(34, 13, 13, 0) 0%, rgba(71, 71, 71, 0) 0.01%, rgba(40, 19, 12, 0) 100%);

}

html[data-theme='dark'] {
    --bg: #262429;
    // --bg-panel: #434343;
    --outline: #262429;
    --color-text: #ffffff;
    --photo-text: #ffffff;
    --check: #525056;
    --gradient: linear-gradient(180deg, rgba(34, 13, 13, 0.5) 0%, rgba(71, 71, 71, 0.5) 0.01%, rgba(40, 19, 12, 0.435) 100%);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin-bottom: 0 !important;
}

button {
  border: none;
  background: transparent;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text) !important;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--bg) !important;
  color: var(--color-text);
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
