.content-container {
  padding: 0 16px;
}

.home-header {
  background-image: asset-url('bg.jpg');
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 38px 70px;
  margin-bottom: -96px;
  ul {
    display: flex;
    li {
      margin: 0 10px;
      i {
        color: white;
        font-size: 32px;
      }
      i:hover {
        opacity: .8;
      }
    }
  }
}

.bio {
  text-align: center;
  p {
    font-size: 20px;
    line-height: 136%;
    margin: 0 auto;
  }
  h1 {
    font-size: 40px;
    line-height: 40px;
    margin: 12px 0 14px 0;
  }
}

.images {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  .image {
    margin: 0 15px;
  }
  p {
    font-family: BentonSans Medium;
  }
}

.image-grid {
  display: grid;
  margin: 50px auto;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 20px;
  max-width: 1500px;
  .project {
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-family: Proxima Nova;
    position: relative;
    img {
      height: 100%;
      width: 100%;
    }
    .project-text {
      position: absolute;
      text-align: center;
      visibility: hidden;
      transition: opacity .3s, visibility .3s;
      opacity: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(69, 69, 69, 0.72);
      // background: rgba(255, 255, 255, 0.66);
      color: #fff;
      visibility: hidden;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        font-weight: bold;
        font-size: 26px;
        font-family: Proxima Nova;
      }
      p {
        font-size: 18px;
      }
      i {
        font-size: 24px;
        margin-right: 6px;
      }
      .like {
        display: flex;
        margin-top: 12px;
        font-family: Avenir;
        font-weight: 300;
        h3 {
          font-size: 21px;
        }
      }
    }
  }
}

.project:hover .project-text {
  visibility: visible;
  opacity: 1;
}

.description {
  transition: .2s;
  transform: translateY(1em);
}

.project:hover .description{
  transform: translateY(0);
}


footer {
  display: grid;
  font-family: Avenir;
  font-size: 18px;
  max-width: 1870px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(363px, 1fr));
  margin: 32px auto;
  a {
    color: $black;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
    color: $black;
  }
}
