.content-container {
  padding: 0 16px;
}

.home-header {
  background-image: asset-url('bg.jpg');
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 38px 70px;
  margin-bottom: -96px;
  ul {
    display: flex;
    li {
      margin: 0 10px;
      i {
        color: white;
        font-size: 32px;
        transition: opacity .8s;
      }
      i:hover {
        opacity: .8;
      }
    }
  }
}

.bio {
  text-align: center;
  color: #161616;
  p {
    font-size: 20px;
    line-height: 136%;
    margin: 0 auto;
    width: 645px;
  }
  h1 {
    font-size: 40px;
    line-height: 40px;
    margin: 12px 0 14px 0;
  }
  .profile-img {
    position: relative;
    width: 187px;
    margin: 0 auto;
  }
  i {
    position: absolute;
    color: white;
    padding: 13px;
    font-size: 16px;
    border-radius: 50%;
    background: #D9BAF1;
    border: 3.5px solid #FFFFFF;
    box-shadow: 4px 4px 10px rgba(138, 138, 138, 0.25);
    top: 0;
    right: 15px;
    z-index: 1;
  }
}

.images {
  display: flex;
  color: #161616;
  justify-content: center;
  margin-top: 28px;
  .image {
    margin: 0 15px;
  }
  p {
    font-family: BentonSans Medium;
  }
}

.image-grid {
  display: grid;
  margin: 50px auto;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 20px;
  max-width: 1500px;
  .project-home {
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-family: Proxima Nova;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
    .project-text {
      position: absolute;
      text-align: center;
      visibility: hidden;
      transition: opacity .8s, visibility .8s;
      opacity: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(69, 69, 69, 0.72);
      // background: rgba(255, 255, 255, 0.66);
      color: #fff;
      visibility: hidden;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        font-weight: bold;
        font-size: 30px;
        font-family: Proxima Nova;
      }
      p {
        font-size: 18px;
        width: 284px;
        font-family: Avenir;
      }
      i {
        font-size: 24px;
        margin-right: 6px;
      }
      .like {
        display: flex;
        margin-top: 12px;
        font-family: Avenir;
        font-weight: 300;
        h3 {
          font-size: 21px;
        }
      }
    }
  }
}

.project-home:hover .project-text {
  visibility: visible;
  opacity: 1;
}

.description {
  transition: 1s;
  transform: translateY(1em);
}

.project-home:hover .description{
  transform: translateY(0);
}


footer {
  display: grid;
  font-family: Avenir;
  font-size: 18px;
  max-width: 1870px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(363px, 1fr));
  margin: 32px auto;
  a {
    color: $black;
    text-decoration: underline;
    transition: all .8s;
  }
  a:hover {
    opacity: .7;
    color: $black;
  }
}
