.content-container {
  padding: 0 16px;
}

.home {
  background: var(--bg) !important;
}

.home-header {
  background: var(--gradient), asset-url('bg.jpg');
  z-index: 1;
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 38px 70px;
  margin-bottom: -96px;
  ul {
    display: flex;
    li {
      margin: 0 10px;
      i {
        color: white;
        font-size: 32px;
        transition: all .8s;
      }
      i:hover {
        // opacity: .9;
        animation: pulse;
        animation-duration: 1s;
      }
    }
  }
}

.bio {
  text-align: center;
  color: var(--color-text);
  p {
    font-size: 20px;
    line-height: 136%;
    margin: 0 auto;
    width: 645px;
    font-family: Benton Sans, sans-serif;
  }
  h1 {
    font-size: 44px;
    line-height: 40px;
    margin: 12px 0 14px 0;
    font-family: Proxima Nova Bold, sans-serif;
    font-weight: bold;
  }
  .profile-img {
    position: relative;
    width: 187px;
    margin: 0 auto;
  }
  i {
    position: absolute;
    cursor: pointer;
    color: white;
    padding: 13px;
    font-size: 16px;
    border-radius: 50%;
    background: #D9BAF1;
    border: 3.5px solid #FFFFFF;
    box-shadow: 4px 4px 10px rgba(138, 138, 138, 0.25);
    top: 0;
    right: 11px;
    z-index: 1;
    display: inline-block;
  }
}

.buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 24px;
  .following {
    cursor: default;
  }
  p {
    color: #46335E;
    padding: 7px 40px;
    margin: 0 11px;
    font-size: 19px;
    font-family: Avenir;
    font-weight: 500;
    background: #F3E8FF;
    border-radius: 2px;
  }
  a:hover {
    text-decoration: none;
  }
}

.images {
  display: flex;
  color: var(--photo-text);
  justify-content: center;
  margin-top: 28px;
  align-items: center;
  .image {
    margin: 0 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    font-family: Benton Sans;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
  }
}

.image-grid {
  display: grid;
  margin: 50px auto;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 20px;
  max-width: 1500px;
  .project-home {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
    .project-text {
      position: absolute;
      text-align: center;
      transition: opacity .8s, visibility .8s;
      opacity: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(69, 69, 69, 0.72);
      // background: rgba(255, 255, 255, 0.66);
      color: #fff;
      visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        font-weight: bold;
        font-size: 30px;
        font-family: Proxima Nova Bold;
      }
      p {
        width: 284px;
        font-family: Avenir;
        font-size: 20px;
        font-weight: 500;
      }
      i {
        font-size: 24px;
        margin-right: 6px;
      }
      .like {
        display: flex;
        margin-top: 12px;
        font-family: Montserrat;
        font-weight: 300;
        i {
          color: white !important;
        }
        h3 {
          font-size: 21px;
        }
      }
    }
  }
}

.project-home:hover .project-text {
  visibility: visible;
  opacity: 1;
}

.description {
  transition: 1s;
  transform: translateY(1em);
}

.project-home:hover .description{
  transform: translateY(0);
}


footer {
  display: grid;
  font-family: Avenir;
  grid-gap: 8px 0;
  color: var(--color-text);
  font-size: 20px;
  max-width: 1870px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(363px, 1fr));
  margin: 40px auto;
  max-width: 1500px;
  a {
    text-decoration: underline;
    transition: all .8s;
    display: inline-block;
  }
  a:hover {
    opacity: .7;
    color: var(--color-text);
    animation: pulse;
    animation-duration: 1s;
  }
}
