.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 34px 0 30px 0;
  grid-gap: 150px;
  .summary {
    justify-self: right;
  }
  h2 {
    width: 450px;
    font-family: Proxima Nova Bold;
    font-size: 36px;
    line-height: 120%;
  }
  p.summary-text {
    width: 450px;
    font-family: Avenir;
    font-size: 21px;
    line-height: 148%;
    padding-top: 6px;
  }
  h3 {
    font-family: Proxima Nova Bold;
    font-size: 22px;
  }
  .project-role {
    p {
      font-family: Proxima Nova;
      font-size: 19px;
      line-height: 140%;
      width: 500px;
    }
    a {
      text-decoration: underline;
      color: black;
    }
    .team {
      color: #4A4848;
      padding-top: 6px;
    }
    .role {
      margin-top: 18px;
    }
  }
}

.covid-prob img {
  background: #f9f9fb;
  box-shadow:  5px 5px 5px #f2f2f3,
             -5px -5px 5px #ffffff;
}

.fonts {
  background: #D9DFFC;
}

.freelance {
  background: #D7F3DA;
}
.replastic {
  background: #FFF2D9;
}
.prob span {
  font-weight: bold;
}
.problem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 70px auto;
  grid-gap: 100px 130px;
  max-width: 1100px;
  p {
    width: 440px;
    justify-self: center;
    line-height: 155%;
    font-size: 17px;
  }
  h2{
    font-family: Proxima Nova Bold;
    font-weight: bold;
    font-size: 34px;
  }
  .finding {
    width: 417px;
    justify-self: center;
    img {
      margin-bottom: 14px;
      margin-left: -24px;
    }
  }
  span {
    font-weight: bold;
  }
  img {
    text-align: center;
  }
}

.decisions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px auto 70px auto;
  max-width: 1160px;
  grid-gap: 100px 30px;
  grid-template-areas:
  "covid1 covid1 finding"
  "finding2 covid2 covid2 "
  "covid3 covid3 finding3";
  h2 {
    font-family: Proxima Nova Bold;
    font-weight: bold;
    font-size: 34px;
  }
  .finding {
    width: 417px;
    justify-self: center;
    img {
      margin-bottom: 14px;
      margin-left: -24px;
    }
  }
  .decisions-text {
    grid-area: decisions-text;
  }
  .covid1 {
    grid-area: covid1;
  }
  .covid2 {
    grid-area: covid2;
  }
  .covid3 {
    grid-area: covid3;
  }
  .finding {
    grid-area: finding;
  }
  .finding2 {
    grid-area: finding2;
  }
  .finding3 {
    grid-area: finding3;
  }
}

.fancier-img1 {
    padding-right: 26px;
}

.final-design1 {
  padding-top: 12px !important;
  margin-bottom: 12px;
}

@media only screen and (max-width:1200px) {
  .project-content {
    grid-gap: 20px;
    padding: 34px 38px;
    p.summary-text {
      width: 398px;
    }
    .project-role p {
      width: 440px;
    }
  }
  .problem {
    grid-gap: 70px 60px;
    padding: 0 42px;
  }
  .decisions {
    padding: 0 42px;
    grid-gap: 70px 60px;
  }
}

.fancier-final img {
  opacity: .91;
}

.f-finding {
  img {
    margin-bottom: 14px;
    margin-left: -24px;
  }
}

@media only screen and (max-width:1000px) {
  .project-content {
    grid-template-columns: 1fr;
    padding: 34px 0 !important;
    text-align: center;
    justify-self: center;
    grid-gap: 40px;
    h2 {
      font-size: 35px;
    }
  }
  .decisions {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 38px;
    margin: 0px auto 40px auto;
    align-content: center;
    grid-template-areas:
    "covid1"
    "finding"
    "covid2"
    "finding2"
    "covid3"
    "finding3";
  }
  .project-role {
    margin: 0 auto;
    p {
      width: 447px !important;
    }
  }
  .summary {
    margin: 0 auto;
    p.summary-text {
      width: 447px !important;
    }
  }
  .problem {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 38px;
    margin: 40px auto;
  }
  .content-container {
    padding: 0 !important;
  }
  .logo {
    margin-top: 0 !important;
  }
  .fancier-img1 {
    padding-right: 0;
  }

  .final-design p {
    width: 90% !important;
  }
}

@media only screen and (max-width:600px) {
  .project-content h2 {
    width: 342px !important;
    font-size: 34px;
  }
  p.summary-text {
    width: 100%;
  }
  .problem p {
    width: 100%;
  }
  .project-role {
    margin: 0 auto;
    .role {
      margin-top: 22px;
    }
    p {
      width: 340px !important;
    }
  }
  .summary {
    margin: 0 auto;
    p.summary-text {
      width: 320px !important;
    }
    h3 {
      width: 320px !important;
    }
  }
  .final-design {
    padding: 18px 6px !important;
  }
}
  .finding {
    width: 300px !important;
  }

.final-design {
  text-align: center;
  padding: 26px 0;
  p {
    font-family: Avenir;
    font-style: italic;
    font-size: 21px;
    margin-top: 20px;
  }
}
