.project-header {
  height: 400px;
  background: gray;
}

.project {
  display: flex;
  div {
    width: 50%;
  }
  .header {
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: asset-url('covid-med.jpg');
    background-size: cover;
    background-position: center;
  }
}
 .project:nth-child(even) {
  flex-direction: row-reverse;
 }

.text {
  padding: 60px;
}
