
<header class="project-header">
  <!-- <div class="project-images"> -->
    <%=  image_tag("covid-img.svg", alt: "screenshot of project", class: "covid-img") %>
    <%=  image_tag("covid-M.svg", alt: "name of project", class: "covid-M") %>
  <!-- </div> -->
  <div class="details">
    <p>2020 (Present)</p>
    <p>UX/UI Design | Research software</p>
  </div>
</header>


