<header class="project-header">
</header>

<section class="project">
  <div class="text">
    <h1 class="animate__animated animate__bounce">An animated element</h1>
    <p>the core problem we are trying to solve is reducing the time it takes for researchers to digest information. with human and machine intelligence, we are condensing large research papers into main key insights. the design challenge is how to present this information.  </p>
  </div>
  <div class="header">
    <h2>challenge</h2>
  </div>
</section>
<section class="project">
  <div class="text">
    <p>Integer rhoncus nec purus ut faucibus. Maecenas sed massa at diam condimentum convallis id non felis. Cras vitae nisi tincidunt, aliquet turpis sed, iaculis velit. Ut quis elit ut nisi semper gravida. Aliquam ac lorem et dui facilisis suscipit. Donec sit amet odio eu nulla venenatis bibendum et eget risus. Donec gravida fringilla convallis. Nam hendrerit neque vel magna eleifend, et posuere velit fringilla. Pellentesque vel eros venenatis, tristique ligula faucibus, hendrerit mi.

Sed vehicula est et faucibus vestibulum. Integer venenatis libero vitae neque faucibus commodo. Pellentesque sit amet nisi dapibus, sollicitudin ante quis, viverra mi. Nunc non posuere sem, sed ornare massa. Nullam lorem turpis, rhoncus non erat ac, viverra accumsan nisi. Donec dictum dignissim dui, non commodo diam dapibus sit amet. Donec quam mi, sodales non libero vel, imperdiet congue erat. Sed aliquam iaculis diam. Nulla in bibendum mauris. In eget quam ac massa rutrum pellentesque sed non lectus. Curabitur urna ipsum, iaculis ac nisl et, interdum fermentum tellus. Nulla ut dolor sed lorem auctor posuere. Vestibulum varius augue ut tellus vulputate pellentesque.
Integer rhoncus nec purus ut faucibus. Maecenas sed massa at diam condimentum convallis id non felis. Cras vitae nisi tincidunt, aliquet turpis sed, iaculis velit. Ut quis elit ut nisi semper gravida. Aliquam ac lorem et dui facilisis suscipit. Donec sit amet odio eu nulla venenatis bibendum et eget risus. Donec gravida fringilla convallis. Nam hendrerit neque vel magna eleifend, et posuere velit fringilla. Pellentesque vel eros venenatis, tristique ligula faucibus, hendrerit mi.

Sed vehicula est et faucibus vestibulum. Integer venenatis libero vitae neque faucibus commodo. Pellentesque sit amet nisi dapibus, sollicitudin ante quis, viverra mi. Nunc non posuere sem, sed ornare massa. Nullam lorem turpis, rhoncus non erat ac, viverra accumsan nisi. Donec dictum dignissim dui, non commodo diam dapibus sit amet. Donec quam mi, sodales non libero vel, imperdiet congue erat. Sed aliquam iaculis diam. Nulla in bibendum mauris. In eget quam ac massa rutrum pellentesque sed non lectus. Curabitur urna ipsum, iaculis ac nisl et, interdum fermentum tellus. Nulla ut dolor sed lorem auctor posuere. Vestibulum varius augue ut tellus vulputate pellentesque.

Suspendisse nec efficitur risus. Sed mollis id quam ultrices suscipit. Nullam nec nunc rutrum, ullamcorper ligula et, venenatis orci. Curabitur ut nulla in est sodales ullamcorper. Vivamus et pharetra augue, quis ultricies quam. Pellentesque metus quam, tempus eget lorem pharetra, imperdiet tempor ex. Nulla vel neque mauris. Duis eget ultricies enim. Sed iaculis augue eu lorem maximus facilisis. Duis pretium sodales facilisis. Duis aliquet, mauris ut gravida interdum, ante libero fringilla mauris, et dapibus enim nibh non velit. Nulla eget ultrices massa. Pellentesque ullamcorper ligula eu pretium condimentum. Ut nisi arcu, egestas sit amet mauris in, ultricies porttitor nulla. Nulla libero odio, pellentesque vel congue eget, luctus vitae massa.
Suspendisse nec efficitur risus. Sed mollis id quam ultrices suscipit. Nullam nec nunc rutrum, ullamcorper ligula et, venenatis orci. Curabitur ut nulla in est sodales ullamcorper. Vivamus et pharetra augue, quis ultricies quam. Pellentesque metus quam, tempus eget lorem pharetra, imperdiet tempor ex. Nulla vel neque mauris. Duis eget ultricies enim. Sed iaculis augue eu lorem maximus facilisis. Duis pretium sodales facilisis. Duis aliquet, mauris ut gravida interdum, ante libero fringilla mauris, et dapibus enim nibh non velit. Nulla eget ultrices massa. Pellentesque ullamcorper ligula eu pretium condimentum. Ut nisi arcu, egestas sit amet mauris in, ultricies porttitor nulla. Nulla libero odio, pellentesque vel congue eget, luctus vitae massa.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae efficitur purus. Etiam feugiat condimentum mi, in imperdiet purus vestibulum eget. Praesent nec diam est. Proin aliquam magna porta magna auctor placerat. In eget est eget ligula pretium dignissim. Nam vitae mi et nisi egestas luctus sed quis urna. Etiam ullamcorper magna a orci gravida aliquet in eu felis. In eget lorem sed velit finibus viverra eu nec magna. Nam ac porta est. Phasellus aliquet sed mi eget dapibus. Sed cursus nunc sed finibus lobortis.</p>
  </div>
  <div class="header">
    <h2>design process</h2>
  </div>
</section>
<section class="project">
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae efficitur purus. Etiam feugiat condimentum mi, in imperdiet purus vestibulum eget. Praesent nec diam est. Proin aliquam magna porta magna auctor placerat. In eget est eget ligula pretium dignissim. Nam vitae mi et nisi egestas luctus sed quis urna. Etiam ullamcorper magna a orci gravida aliquet in eu felis. In eget lorem sed velit finibus viverra eu nec magna. Nam ac porta est. Phasellus aliquet sed mi eget dapibus. Sed cursus nunc sed finibus lobortis.</p>
  </div>
  <div class="header">
    <h2>design decisions</h2>
  </div>
</section>
<section class="project">
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae efficitur purus. Etiam feugiat condimentum mi, in imperdiet purus vestibulum eget. Praesent nec diam est. Proin aliquam magna porta magna auctor placerat. In eget est eget ligula pretium dignissim. Nam vitae mi et nisi egestas luctus sed quis urna. Etiam ullamcorper magna a orci gravida aliquet in eu felis. In eget lorem sed velit finibus viverra eu nec magna. Nam ac porta est. Phasellus aliquet sed mi eget dapibus. Sed cursus nunc sed finibus lobortis.</p>
  </div>
  <div class="header">
    <h2>outcome</h2>
  </div>
</section>
<section class="project">
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae efficitur purus. Etiam feugiat condimentum mi, in imperdiet purus vestibulum eget. Praesent nec diam est. Proin aliquam magna porta magna auctor placerat. In eget est eget ligula pretium dignissim. Nam vitae mi et nisi egestas luctus sed quis urna. Etiam ullamcorper magna a orci gravida aliquet in eu felis. In eget lorem sed velit finibus viverra eu nec magna. Nam ac porta est. Phasellus aliquet sed mi eget dapibus. Sed cursus nunc sed finibus lobortis.</p>
  </div>
  <div class="header">
    <h2>what i learned</h2>
  </div>
</section>
