<header class="project-header">
  <%=  image_tag("covid-img.svg", alt: "screenshot of project", class: "covid-img") %>
  <%=  image_tag("covid-M.svg", alt: "name of project", class: "covid-M") %>
  <div class="details">
    <p>2020 (Present)</p>
    <p>UX/UI Design | Research software</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Simplifying the research process</h1>
    <p class="summary-text">designed an application for researchers that brings the time of digesting COVID-19 research from minutes to less than 30 seconds</p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p><span>live open source application</span> currently being used by COVID-19 researchers in the field</p>
    <h3 class="role">Role</h3>
    <p>sole UI/UX designer, led front end development team for implementation. built the style guide and UI library that was implemented in React</p>
    <p class="team">The team: two virologists, three front end developers, one backend developer, two machine learning data scientists and one designer (me).</p>
  </div>
</section>

<section class="final-design">
  <%=  image_tag("covid-mock.svg", alt: "mockup of project", class: "") %>
  <p>the final design</p>
</section>


