<header class="project-header fancier">
  <%=  image_tag("fancier-img.png", alt: "screenshot of project", class: "fancier-img img1 justify") %>
  <%=  image_tag("fancier-M.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <p>2020</p>
    <p>UI Design | Ecommerce Platform</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Designing a sustainable ecommerce experience</h2>
    <p class="summary-text">designed and shipped a social marketplace that creates a unique experience for shopping and selling pre-loved festival outfits </p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p><a target=”_blank” href="http://www.getfancier.com/">live application</a>, only with test users. you can watch me pitch fancier to a live audience <a target=”_blank” href="https://www.youtube.com/watch?v=Opy7Ur7keEc&feature=youtu.be">here.</a></p>
    <h3 class="role">Role</h3>
    <p>sole UI designer, part of full stack development team during Le Wagon’s fullstack coding bootcamp</p>
    <p class="team">The team: four fullstack developers, including myself.</p>
  </div>
</section>

<section class="final-design">
  <%=  image_tag("f.gif", alt: "mockup of project", class: "") %>
  <p>the final product</p>
</section>


