<header class="project-header fancier">
  <%=  image_tag("fancier-img.png", alt: "screenshot of project", class: "fancier-img img1 justify") %>
  <%=  image_tag("fancier-M.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <p>2020</p>
    <p>UI Design | Design Resource</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Built a resource for the design community</h2>
    <p class="summary-text">designed and shipped a design resource to search for fonts in context</p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p><a target=”_blank” href="http://www.getfancier.com/">live application</a>, with real users. currently adding features on request <a target=”_blank” href="https://www.youtube.com/watch?v=Opy7Ur7keEc&feature=youtu.be">here.</a></p>
    <h3 class="role">Role</h3>
    <p>sole UI designer and fullstack developer. During quarantine I wanted to build a resource to give back to the community and saw the gap in the market.</p>
    <p class="team">This was a self initiated project.</p>
  </div>
</section>
<section class="final-design">
  <%=  image_tag("", alt: "mockup of project", class: "") %>
  <p>the final product</p>
</section>
