<header class="project-header fancier">
  <%=  image_tag("fancier-img.png", alt: "screenshot of project", class: "fancier-img img1 justify") %>
  <%=  image_tag("fancier-M.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <p>2020</p>
    <p>UI Design | Front end development</p>
  </div>
</header>

<section class="project-content">
  <div class="summary">
    <h2>Redesigning an outdated online store for a winery</h2>
    <p class="summary-text">redesigned multiple websites for freelance clients including an online wine store for Los Arabis Vineyards which I will highlight here</p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p>live websites for freelance clients: <a target=”_blank” href="https://losarabisvineyards.com/">an online store</a>, <i>(highlighted here)</i><a target=”_blank” href="http://www.lamalpensatina.com/"> vacation property rental website</a>, <a target=”_blank” href="http://www.martinfamilyfound.com/"> non profit landing page</a> </p>
    <h3 class="role">Role</h3>
    <p>UI designer and front end developer; custom Shopify development</p>
    <p class="team">These are freelance projects for clients.</p>
  </div>
</section>
<section class="final-design">
  <%=  image_tag("", alt: "mockup of project", class: "") %>
  <p>the final product</p>
</section>
