<header class="project-header fancier thirty-header">
  <%=  image_tag("fancier-img.png", alt: "screenshot of project", class: "fancier-img img1 justify") %>
  <%=  image_tag("fancier-M.svg", alt: "name of project", class: "fancier-M img2 justify") %>
  <div class="details">
    <h2 class="clear">clear</h2>
    <p>2020</p>
    <p>UI Design | Creative Development</p>
    <%#=  video_tag("vid.mp4", controls: true, preload: 'none')%>
  </div>
</header>
<section class="thirty-body">

<section class="project-content">
  <div class="summary">
    <h2>Designing a sustainable ecommerce experience</h2>
    <p class="summary-text">designed and shipped a social marketplace that creates a unique experience for shopping and selling pre-loved festival outfits </p>
  </div>
  <div class="project-role">
    <h3>Context</h3>
    <p>live applications, UI designs, conceptual experiements</p>
    <h3 class="role">Role</h3>
    <p>sole UI designer, part of full stack development team during Le Wagon’s fullstack coding bootcamp</p>
    <p class="team">These are self initiated projects.</p>
  </div>
</section>
<section class="final-design">
  <p>click anywhere below to see the websites</p>
</section>
<section class="website-images">

</section>
</section>
